
<div class="bg-white rounded-lg  p-4 w-full max-w-md">
    <h2 class="text-xl font-medium text-gray-700 mb-4">Elements</h2>
    
    <!-- Search field -->
    <div class="relative mb-6">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <span class="fas fa-search h-4 w-4 text-gray-400"></span>
      </div>
      <input
        type="text"
        placeholder="Search anything"
        class="pl-10 bg-gray-100 border-0 w-full p-2 rounded"
        [(ngModel)]="searchQuery"
      />
    </div>
    
    <!-- Form element categories -->
    <div *ngFor="let group of formElementCategories" class="mb-8">
      <h3 class="font-medium text-sm text-gray-500 mb-3">{{ group.category }}</h3>
      
      <div class="space-y-3">
        <div *ngFor="let item of group.items" 
             class="flex items-start p-3 bg-gray-50 rounded cursor-move hover:bg-gray-100 transition-colors"
             draggable="true"
             (dragstart)="onDragStart($event, item)"
             >
          <div class="bg-gray-100 p-2 rounded mr-3">
            <i [class]="item.icon"></i> <!-- Font Awesome icon -->
          </div>
          <div>
            <p class="font-medium text-gray-800">{{ item.label }}</p>
            <p class="text-sm text-gray-400">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  